## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [5]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

4.14.3

## Reading csv file into dataframe

In [6]:
df = pd.read_csv('smartwatch.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200471 entries, 0 to 200470
Data columns (total 4 columns):
index        200471 non-null int64
source       200471 non-null object
timestamp    200471 non-null object
values       200471 non-null object
dtypes: int64(1), object(3)
memory usage: 6.1+ MB

In [8]:
df.head()

,index,source,timestamp,values
0,164349,battery,2017-06-29 07:45:56.262,['98']
1,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']"
2,164351,gravity,2017-06-29 07:46:01.324,"['-0.34131828', '0.6573288', '9.778641']"
3,164352,linear_acceleration,2017-06-29 07:46:01.329,"['-0.018068999', '0.034808993', '-0.033065796']"
4,164353,gyroscope,2017-06-29 07:46:01.402,"['0.0041656494', '-0.0132751465', '0.006164551']"

In [12]:
df['source'].value_counts()

heart_rate             91337
orientation            16385
magnetometer           16295
pressure               14900
step_detector          14751
battery                12857
gyroscope               9694
accelerometer           9265
gravity                 4227
linear_acceleration     4224
rotation_vector         4214
step_counter            2322
Name: source, dtype: int64

## Analysing the TimeStamp

In [13]:
type(df['timestamp'].iloc[0])

str

In [14]:
type(df['timestamp'].iloc[0])

str

In [15]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [16]:
df['Hour'] = df['timestamp'].apply(lambda time: time.hour)
df['Month'] = df['timestamp'].apply(lambda time: time.month)
df['Day of Week'] = df['timestamp'].apply(lambda time: time.dayofweek)

In [17]:
dmap = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
df['Day of Week'] = df['Day of Week'].map(dmap)

In [18]:
df.head()

,index,source,timestamp,values,Hour,Month,Day of Week
0,164349,battery,2017-06-29 07:45:56.262,['98'],7,6,Thu
1,164350,accelerometer,2017-06-29 07:46:01.263,"['-0.3440857', '0.68330383', '9.967361']",7,6,Thu
2,164351,gravity,2017-06-29 07:46:01.324,"['-0.34131828', '0.6573288', '9.778641']",7,6,Thu
3,164352,linear_acceleration,2017-06-29 07:46:01.329,"['-0.018068999', '0.034808993', '-0.033065796']",7,6,Thu
4,164353,gyroscope,2017-06-29 07:46:01.402,"['0.0041656494', '-0.0132751465', '0.006164551']",7,6,Thu

In [20]:
df.tail()

,index,source,timestamp,values,Hour,Month,Day of Week
200466,164346,heart_rate,2017-07-13 20:21:35.060,"['56.0', '1']",20,7,Thu
200467,150770,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']",20,7,Thu
200468,164347,heart_rate,2017-07-13 20:21:35.124,"['57.0', '1']",20,7,Thu
200469,150771,pressure,2017-07-13 20:21:36.105,['989.3108'],20,7,Thu
200470,164348,pressure,2017-07-13 20:21:36.105,['989.3108'],20,7,Thu